.totalRainbow {
    width: 400px;
    height: 200px;
    margin: auto;
    margin-top: 200px;
}

.firstRow {
    width: 400px;
    height: 200px;
    background-color: red;
    border-radius: 400px 400px 0 0;
}

.secondRow {
    position: relative;
    top: 20px;
    left: 20px;
    width: 360px;
    height: 180px;
    background-color: orange;
    border-radius: 360px 360px 0 0;
}

.thirdRow {
    position: relative;
    top: 20px;
    left: 20px;
    width: 320px;
    height: 160px;
    background-color: yellow;
    border-radius: 320px 320px 0 0;
}

.fourRow {
    position: relative;
    top: 20px;
    left: 20px;
    width: 280px;
    height: 140px;
    background-color: rgb(54, 190, 54);
    border-radius: 280px 280px 0 0;
}

.fiveRow {
    position: relative;
    top: 20px;
    left: 20px;
    width: 240px;
    height: 120px;
    background-color: rgb(50, 230, 212);
    border-radius: 240px 240px 0 0;
}

.SixRow {
    position: relative;
    top: 20px;
    left: 20px;
    width: 200px;
    height: 100px;
    background-color: rgb(91, 100, 227);
    border-radius: 200px 200px 0 0;
}

.SevenRow {
    position: relative;
    top: 20px;
    left: 20px;
    width: 160px;
    height: 80px;
    background-color: rgb(209, 50, 209);
    border-radius: 180px 180px 0 0;
}